<div class="banner">
    <div class="content">
        <h1 class="Oleo mt-5 mb-5">A culinary journey where
            Authencity <br/> meets Innovation</h1>
        <a routerLink="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<div class="sp-menu">
<div class="container-fluid">
    <h2 class="text-center">Our Specialities</h2>
    <div class="row mt-4 mb-4">
        <div class="col-lg-4 mt-3">
            <div class="foodbox">
                <img src='assets/img/chicken-lollipop.jpg'>
                <h1>Chicken Lollipop ($19.99)</h1>
                <p>3 Large buttermilk fried chicken lollipops (regular or spicy), homemade fries, and a side of chipotle aïoli
                </p>
            </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="foodbox">
                    <img src='assets/img/lemongrass-chicken.jpg'>
                    <h1>Lemon Grass Chicken ($22.99)</h1>
                    <p>Large fried chicken tenders (regular or spicy) crusted mozzarella cheese, tomatoes, lettuce, pickles and chipotle aïoli</p>
                    </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="foodbox">
                    <img src='assets/img/dynamite-shrimps.jpg'>
                    <h1>Dynamite Shrimps ($20.99)</h1>
                    <p>Large Shrimps with Dynamite sauce (regular or spicy) crusted mozzarella cheese, lettuce</p>
                    </div>
                </div>
    </div> 
    <a routerLink="menu" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
</div>
</div>